body {
    background-color: #ccccbc;
}

div {
    border: 2px solid black;
}

.inside {
    height: 45%;
    width: 45%;
    float: left;
    position: relative;
    margin-left: 3.33%;
    top: 3.33%;
    margin-bottom: 15px;
}

.container {
    width: 55%;
    height: 600px;
    position: relative;
    margin: auto;
}

#red {
    background-color: #e84a23;
}

#blue {
    background-color: #4a23e8;
}

#yellow {
    background-color: #e7eb21;
}

#green {
    background-color: #21eb3f;
}

#tekst {
    height: 5vw;
    width: 12%;
    position: absolute;
    right: 5%;
    top: 7%;
    font-size: 2vw;
    text-align: center;
}

#okej {
    color: green;
    font-size: 3vw;
    position: absolute;
    right: 6%;
    top: 12%;
    font-weight: bolder;
}